<div class="test">
  <table mat-table [dataSource]="dataSource3" class="what">

    <ng-container matColumnDef="From">
      <th mat-header-cell *matHeaderCellDef> From </th>
      <td mat-cell *matCellDef="let element"> {{element.From}} </td>
    </ng-container>

    <ng-container matColumnDef="To">
      <th mat-header-cell *matHeaderCellDef> To </th>
      <td mat-cell *matCellDef="let element"> {{element.To}} </td>
    </ng-container>

    <ng-container matColumnDef="Rate">
      <th mat-header-cell *matHeaderCellDef> Rate </th>
      <td mat-cell *matCellDef="let element"> {{element.Rate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
  </table>
  <div class="live_loading_spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>





